{
    attributes = (
        {
            allowsNull = N; 
            columnName = listaDeComprasDeUsuarioId; 
            name = listaDeComprasDeUsuarioId; 
            prototypeName = id; 
        }, 
        {
            allowsNull = N; 
            columnName = transferenciaDePagamentoId; 
            name = transferenciaDePagamentoId; 
            prototypeName = id; 
        }
    ); 
    attributesUsedForLocking = (listaDeComprasDeUsuarioId, transferenciaDePagamentoId); 
    className = EOGenericRecord; 
    externalName = ListaDeComprasDeUsuarioXTransferenciaDePagamento; 
    fetchSpecificationDictionary = {}; 
    name = ListaDeComprasDeUsuarioXTransferenciaDePagamento; 
    primaryKeyAttributes = (listaDeComprasDeUsuarioId, transferenciaDePagamentoId); 
    relationships = (
        {
            destination = ListaDeComprasDeUsuario; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = listaDeComprasDeUsuarioId; }); 
            name = listaDeComprasDeUsuario; 
        }, 
        {
            destination = TransferenciaDePagamento; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = transferenciaDePagamentoId; }); 
            name = transferenciaDePagamento; 
        }
    ); 
}
