<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <webobject name = "HeadTag">
    <!-- load jquery -->
    <webobject name = "JQuery" />
    <webobject name = "JQueryMask" />
    <webobject name = "JQueryFull" />
    <script type = "text/javascript">
      $(document).ready(function(){
      	$("#cpf").mask("999.999.999-99");});
    </script>
    <script type = "text/javascript">
      var $jquery = jQuery.noConflict();
    </script>
    <webobject name = "StyleSheets" />
  </webobject>
  <webobject name = "BodyTag">
    <webobject name = "IsDebug">
      <div id = "ERD2WDebugFlags"><webobject name = "ERD2WDebugFlags" /></div>
    </webobject>
    <div id = "ContentWrapper">
      <div id = "MenuHeader"> <webobject name = "EntitiesMenu" /> </div>
      <div id = "MainContent"> <webobject name = "MainContent" /> </div>
      <div id = "Footer"><webobject name = "VersaoAplicacao"/></div>
    </div>
    <webobject name = "WOLToolBar" />
    <webobject name = "ERMD2WStyleSheetInjector" />
  </webobject>
</html>